/****************************************************************************************/
/* Global color codes:                                                                  */
/* dark-purple:        #382f44                                                          */
/* transparent-purple: #e9e7ef (for inactive backgrounds)                               */
/*                                                                                      */
/* light-purple1:      #b396f6 (main purple for white backgrounds)                      */
/* light-purple2:      #9179c7 (sligtly darker for gradients)                           */
/*                                                                                      */
/* medium-purple1:     #6f5ca3 (on hover)                                               */
/* medium-purple1:     #5c4c7c (main purple for dark backgrounds)                       */
/* medium-purple2:     #5b4c86 (sligtly darker for gradients)                           */
/*                                                                                      */
/* fuchsia:            #df1cca                                                          */
/* background:         #f8f6f6                                                          */
/* input fields:       #e7e7e7                                                          */
/****************************************************************************************/
/*                                                                                      */
/* Note: it's sometimes not easy to figure out all those screen elements, so unused     */
/*       but valid ones are commented out, not removed, in case they will be needed     */
/*       again in the future.                                                           */
/*                                                                                      */
/****************************************************************************************/

WalletFrame {
    color:#fff;
    border:0px solid #000;
    margin:0;
    padding:0;
    background-color: #000000;
    /* background-image: url(':/images/walletFrame_bg'); */
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    QStatusBar {
    background-color:#1e1e1e;
    color: #ac5288;
    }
    
    .QFrame {
    background-color:transparent;
    border:0px solid #fff;
    }
    
    QMenuBar {
    background-color:#1e1e1e;
    }
    
    QMenuBar::item {
    background-color:#1e1e1e;
    color:#ac5288;
    }
    
    QMenuBar::item:selected {
    background-color:#2f2f2f;
    }
    
    QMenu {
    background-color:#1F1F1F;
    }
    
    QMenu::item {
    color:#ac5288;
    }
    
    QMenu::item:selected {
    background-color:#ac5288;
    color:#0e0e0e;
    }
    
    QToolBar {
    background-color: #0e0e0e;
    border:0px solid #fff;
    padding:0px;
    margin:0;
    width: 100px;
    }
    
    QToolBar > QToolButton {
    Alignment: left;
    background-color: transparent;
    selection-background-color:transparent;
    border: 0px solid #fff;
    min-height:80px;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    color: #ac5288;
    width: 100%;
    height: 60px;
    }
    
    QToolBar > QToolButton:checked {
    color:#ac5288;
    background-color: #1f1f1f;
    }
    
    /* QToolBar > QToolButton:hover:!selected { */
    QToolBar > QToolButton:hover {
        background: #2f2f2f;
        color:#fff;
    }
    QToolBar > QToolButton:hover:!selected {
        background-color: #1f1f1f;
    }
    
    QToolBar > QToolButton#ToolbarSpacer:hover:!selected {
        background-color: #ac5288; /* Do not highlight placeholder on hover */
    }
    
    QToolBar > QToolButton:pressed {
        background-color:rgb(14, 14, 14);
        color:#ac5288;
    }
    
    QMessageBox {
        background-color:#1f1f1f;
    }
    
    QProgressBar {
    color: #000;
    font-weight: bold;
    border:0px solid #0e0e0e;
    border-radius:3px;
    background-color:#1f7e6e;
    padding-left:0px;
    padding-right:0px;
    font-size: 10px;
    }
    
    QProgressBar::chunk {
    background-color:#ac5288;
    width: 20px;
    }
    
    QLabel#progressBarLabel {
    background-color:transparent;
    color: #ac5288;
    padding-left:5px;
    padding-right:5px;
    }
    
    QTabWidget {
    background-color:#f2f2f2;
    }
    
    QTabWidget::pane {
    background-color:#1e1e1e;
    color: #ac5288;
    border:1px solid #2f2f2f;
    }
    
    QTabBar {
    background-color:#f2f2f2;
    color:#333;
    }
    
    QTabBar::tab:hover:!selected {
    background-color:#2f2f2f;
    color: #2fecee;
    }
    
    QWidget {
    selection-background-color:#ac5288; /* Object highlight color */
    selection-color:#2f2f2f;
    outline:0; /* Remove Annoying Focus Rectangle */
    }
    
    QGroupBox {
    background-color:#1f1f1f;
    color:#333;
    }
    
    QToolTip {
    background-color:white;
    font-size: 13px;
    line-height: 1.5em;
    /* width: 400px; */
    /* padding: 10px; */
    }
    
    /****************************************************************************************/
    
    QLabel { /* Base Text Size & Color */
    font-size:12px;
    color:#fff;
    }
    
    .QRadioButton { /* Radio Button Labels */
    color:#fff;
    }
    
    .QCheckBox { /* Checkbox Labels */
    color:#fff;
    }
    
    .QValidatedLineEdit, .QLineEdit, .QTextEdit { /* Text Entry Fields */
    font-size:12px;
    min-height:25px;
    outline:0;
    padding:3px;
    border:0px;
    color:#fff;
    background-color:#1f1f1f;
    }
    
    .QValidatedLineEdit:!focus {
    color:#ac5288;
    background-color:#2f2f2f;
    }
    
    .QLineEdit:!focus {
    color:#ac5288;
    background-color:#2f2f2f;
    }
    
    QTextEdit:!focus { /* Removed dot... */
    color:#ac5288;
    background-color:#2f2f2f;
    }
    
    /* .QValidatedLineEdit:checked, .QLineEdit:checked */
    
    .QValidatedLineEdit:disabled, .QLineEdit:disabled, .QTextEdit:disabled {
    color: #666;
    background-color:#1f1f1f;
    }
    
    .QPlainTextEdit {
    background-color:#2f2f2f;
    color: #ac5288;
    }
    
    /***************************** Global Qt Objects ***********************************************************/
    
    QPushButton { /* Global Button Style */
    background-color: #ac5288; 
    border-width: 1px;
    border-style: outset;
    border-color: #ac5288;
    border-radius: 2px;
    color:#1f1f1f;
    font-size:12px;
    font-weight:bold;
    padding-left:25px;
    padding-right:25px;
    padding-top:1px;
    padding-bottom:1px;
    height: 26px;
    margin: 2px;
    }
    
    QPushButton:hover {
        background-color: #fff;
    }
    
    QPushButton:focus {
    /* border:none; */
    /* outline:none; */
    }
    
    QPushButton:pressed {
    background-color: #22FFC1;
    }
    
    /* Special handling for statusbar-icons (which are partly QPushButtons) */
    QPushButton#labelEncryptionIcon, QPushButton#labelConnectionsIcon, QPushButton#labelAutoMintIcon {
    border: 0px;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    margin: 0px;
    }
    
    /* QSpinBox::up-arrow:hover */
    /* QSpinBox::down-arrow:hover */
    
    QSpinBox {
        background: #1f1f1f;
        color: #ac5288; 
    }
    QSpinBox::up-button:hover {
    background-color: #2f2f2f;
    }
    
    QSpinBox::down-button:hover {
    background-color: #2f2f2f;
    }
    
    QComboBox { /* Dropdown Menus */
    border:0px solid #ac5288;
    padding: 3px 5px 3px 5px;
    background:#1f1f1f;
    min-height:25px;
    color:#ac5288;
    font-weight: bold;
    }
    
    QComboBox:checked {
    background:#3f3f3f;
    }
    
    QComboBox:editable {
    background:#1f1f1f;
    color:#fff;
    outline: none;
    border:0px solid transparent;
    }
    
    QComboBox::drop-down {
    width:25px;
    border:0px;
    background: #2f2f2f;
    }
    
    QComboBox::down-arrow {
    border-image: url(':/images/downArrow') 0 0 0 0 stretch stretch;
    }
    
    QComboBox QListView {
    border:0px solid #1f1f1f;
    padding-right:2px;
    padding-left:2px;
    color:black;
    }
    
    QComboBox QAbstractItemView::item {
    margin:4px;
    }
    
    QComboBox::item {
    color:black;
    }
    
    QComboBox::item:alternate {
    }
    
    QComboBox::item:selected {
    border:0px solid transparent;
    background:#ac5288;
    color: #0e0e0e;
    }
    
    QComboBox::indicator {
    background-color:transparent;
    selection-background-color:transparent;
    color:transparent;
    selection-color:transparent;
    }
    
    QAbstractSpinBox {
    font-size:12px;
    min-height:25px;
    outline:0;
    padding:3px;
    border:0px;
    color:#ac5288;
    background-color:#1f1f1f;
    }
    
    QAbstractSpinBox:!focus {
    color:#ac5288;
    background-color:#2f2f2f;
    }
    
    QAbstractSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;
    width:21px;
    background:#2f2f2f; /* Remove this to get 3D rendered buttons */
    padding-right:1px;
    padding-left:5px;
    padding-top:2px;
    }
    
    QAbstractSpinBox::up-arrow {
    image:url(':/images/upArrow_small');
    }
    
    QAbstractSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    width:21px;
    background:#2f2f2f; /* Remove this to get 3D rendered buttons */
    padding-right:1px;
    padding-left:5px;
    padding-bottom:2px;
    }
    
    QAbstractSpinBox::down-arrow {
    image:url(':/images/downArrow_small');
    }
    
    QValueComboBox {
    padding: 3px 5px 3px 5px;
    font-size:12px;
    min-height:25px;
    outline:0;
    padding:3px;
    border:0px;
    color:#ac5288;
    background-color:#2f2f2f;
    }
    
    QValueComboBox:!focus {
    color:#ac5288;
    background-color:#2f2f2f;
    }
    
    /****************************************************************************************/
    
    QHeaderView { /* Table Header */
    background-color:transparent;
    outline:0;
    }
    
    QHeaderView::section { /* Table Header Sections */
    /* qproperty-alignment:center; */
    background-color: #ac5288;
    color:#0e0e0e;
    min-height:25px;
    font-weight:bold;
    font-size:11px;
    border:0;
    border-right:1px solid #ac5288;
    padding: 2px 5px;
    }
    
    QHeaderView::down-arrow {
        image: url(':/images/downArrow_small_white');
    }
    
    QHeaderView::up-arrow {
        image: url(':/images/upArrow_small_white');
    }
    
    QHeaderView::section:last {
    border-right:0;
    }
    
    QScrollArea {
        background:rgba(30,30,30,0.75);
        border:0px solid #2f2f2f;
    }
    
    
    .QTableView { /* Table - has to be selected as a class otherwise it throws off QCalendarWidget */
    background:rgba(30,30,30,0.75);
    border:0px solid #1f1f1f;
    color: #fff;
    }
    
    QTableView::item { /* Table Item */
    background-color:#2f2f2f;
    border: 0;
    font-size:12px;
    color: #bbb;
    }
    
    QTableView::item:selected { /* Table Item Selected */
    background-color: #515151;
    color:#fff;
    }
    
    QTableWidget { /* Table Background */
    background-color: #1f1f1f;
    alternate-background-color: #2f2f2f;
    border:1px solid #1f1f1f;
    }
    
    QTableWidget:focus, QTableView, QTableView:focus { /* Remove focus outline */
    outline:0;
    /* background:transparent; */
    }
    
    QTreeWidget { /* Tree Background */
    background-color:#1f1f1f;
    alternate-background-color:#1f1f1f;
    color:#fff;
    }
    
    QScrollBar { /* Scroll Bar */
    
    }
    
    QScrollBar:vertical { /* Vertical Scroll Bar Attributes */
    border:0;
    background:#1f1f1f;
    width:18px;
    margin:18px 0px 18px 0px;
    }
    
    QScrollBar:horizontal { /* Horizontal Scroll Bar Attributes */
    border:0;
    background:#1f1f1f;
    height:18px;
    margin:0px 18px 0px 18px;
    }
    
    QScrollBar::handle:vertical { /* Scroll Bar Slider - vertical */
    background:#ac5288;
    min-height:10px;
    }
    
    QScrollBar::handle:vertical:pressed { /* Scroll Bar Slider - vertical */
    background:#22FFC1;
    min-height:10px;
    }
    
    QScrollBar::handle:horizontal { /* Scroll Bar Slider - horizontal */
    background:#ac5288;
    min-width:10px;
    }
    
    QScrollBar::handle:horizontal:pressed { /* Scroll Bar Slider - horizontal */
    background:#22FFC1;
    min-width:10px;
    }
    
    QScrollBar::add-page, QScrollBar::sub-page { /* Scroll Bar Background */
    background:#1f1f1f;
    }
    
    QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical, QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal { /* Define Arrow Button Dimensions */
    background-color:#1f1f1f;
    border: 1px solid #2f2f2f;
    width:16px;
    height:16px;
    }
    
    QScrollBar::add-line:vertical:pressed, QScrollBar::sub-line:vertical:pressed, QScrollBar::add-line:horizontal:pressed, QScrollBar::sub-line:horizontal:pressed {
    background-color:#2f2f2f;
    }
    
    QScrollBar::sub-line:vertical { /* Vertical - top button position */
    subcontrol-position:top;
    subcontrol-origin: margin;
    }
    
    QScrollBar::add-line:vertical { /* Vertical - bottom button position */
    subcontrol-position:bottom;
    subcontrol-origin: margin;
    }
    
    QScrollBar::sub-line:horizontal { /* Vertical - left button position */
    subcontrol-position:left;
    subcontrol-origin: margin;
    }
    
    QScrollBar::add-line:horizontal { /* Vertical - right button position */
    subcontrol-position:right;
    subcontrol-origin: margin;
    }
    
    QScrollBar:up-arrow, QScrollBar:down-arrow, QScrollBar:left-arrow, QScrollBar:right-arrow { /* Arrows Icon */
    width:10px;
    height:10px;
    }
    
    QScrollBar:up-arrow {
    background-image: url(':/images/upArrow_small');
    }
    
    QScrollBar:down-arrow {
    background-image: url(':/images/downArrow_small');
    }
    
    QScrollBar:left-arrow {
    background-image: url(':/images/leftArrow_small');
    }
    
    QScrollBar:right-arrow {
    background-image: url(':/images/rightArrow_small');
    }
    
    QSlider::groove:horizontal {
    border: 1px solid #1f1f1f;
    background: #0e0e0e;
    height: 6px;
    border-radius: 4px;
    }
    
    QSlider::sub-page:horizontal {
    background-color: #0f584c;
    border: 1px solid #22FFC1;
    height: 10px;
    border-radius: 4px;
    }
    
    QSlider::add-page:horizontal {
    background-color: #0f584c;
    border: 1px solid #ac5288;
    height: 10px;
    border-radius: 4px;
    }
    
    QSlider::handle:horizontal {
    background-color: #ac5288;
    border: 2px solid #2f2f2f;
    width: 18px;
    height: 18px;
    margin-top: -6px;
    margin-bottom: -6px;
    border-radius: 9px;
    }
    
    QSlider::handle:horizontal:hover {
    background-color: #ac5288;
    border: 2px solid #22FFC1;
    width: 16px;
    height: 16px;
    margin-top: -6px;
    margin-bottom: -6px;
    border-radius: 8px;
    }
    
    /**************************** DIALOG BOXES **********************************************/
    
    QDialog {
    background-color: #1f1f1f;
    }
    AskPassphraseDialog {
    background-color: #1f1f1f;
    }
    
    
    QDialog .QTabWidget {
    border-bottom:1px solid #2f2f2f;
    }
    
    QDialog .QTabWidget::pane {
    border: 1px solid #2f2f2f;
    }
    
    QDialog .QTabWidget QTabBar::tab {
    background-color:#1f1f1f;
    color:#fff;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    border-top: 1px solid #2f2f2f;
    }
    
    QDialog .QTabWidget QTabBar::tab:first {
    border-left: 1px solid #2f2f2f;
    }
    
    QDialog .QTabWidget QTabBar::tab:last {
    border-right: 1px solid #2f2f2f;
    }
    
    QDialog .QTabWidget QTabBar::tab:selected, QDialog .QTabWidget QTabBar::tab:hover {
    background-color:#0e0e0e;
    color:#fff;
    }
    
    QDialog .QTabWidget .QWidget {
    background-color:#0e0e0e;
    color:#fff;
    }
    
    QDialog .QTabWidget .QWidget QAbstractSpinBox {
    min-height:15px;
    }
    
    QDialog .QTabWidget .QWidget QAbstractSpinBox::down-button {
    width:15px;
    }
    
    QDialog .QTabWidget .QWidget QAbstractSpinBox::up-button {
    width:15px;
    }
    
    QDialog .QTabWidget .QWidget QComboBox {
    min-height:15px;
    }
    
    /**************************** FILE MENU *************************************************/
    
    /* Dialog: Open URI */
    QDialog#OpenURIDialog QLabel#label { /* URI Label */
    font-weight:bold;
    }
    
    QDialog#OpenURIDialog QPushButton#selectFileButton { /* ... Button */
    /* background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb); */
    background-color: #0e0e0e;
    border:0px solid #d2d2d2;
    color:#616161;
    padding-left:15px;
    padding-right:15px;
    }
    
    QDialog#OpenURIDialog QPushButton#selectFileButton:hover {
    /* background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb); */
    background-color: #0e0e0e;
    color:#ac5288;
    }
    
    QDialog#OpenURIDialog QPushButton#selectFileButton:pressed {
    border:0px solid #9e9e9e;
    background-color: #1f1f1f;
    }
    
    /**************************** SIGN/ VERIFY MESSAGE DIALOG *******************************/
    
    QDialog#SignVerifyMessageDialog {
        background-color: #1f1f1f;
    }
    /* QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_SM { /* Address Book Button */
    /* QDialog#SignVerifyMessageDialog QPlainTextEdit { /* Message Signing Text */
    /* QDialog#SignVerifyMessageDialog QPushButton#pasteButton_SM { /* Paste Button */
    /* QDialog#SignVerifyMessageDialog QLineEdit:!focus { /* Font Hack */
    /* QDialog#SignVerifyMessageDialog QPushButton#copySignatureButton_SM { /* Copy Button */
    /* QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM { /* Clear Button */
    /* QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_VM { /* Verify Message - Address Book Button */
    /* QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM { /* Verify Message - Clear Button */
    
    QDialog#SignVerifyMessageDialog #addressBookButton_VM,
    QDialog#SignVerifyMessageDialog #addressBookButton_SM,
    QDialog#SignVerifyMessageDialog #pasteButton_SM,    
    QDialog#SignVerifyMessageDialog #copySignatureButton_SM {
        background: #2f2f2f;
        border: 4px solid #2f2f2f;
    }
        
    
    /**************************** SEND AND RECEIVE ADDRESSES DIALOG *****************************/
    
    QWidget#AddressBookPage {
    background-color:#1f1f1f;
    }
    
    /* QWidget#AddressBookPage QPushButton#newAddress { /* New Address Button */
    /* QWidget#AddressBookPage QPushButton#copyAddress { /* Copy Address Button */
    /* QWidget#AddressBookPage QPushButton#deleteAddress { /* Delete Address Button */
    
    QWidget#AddressBookPage QTableView { /* Address Listing */
    font-size:12px;
    }
    
    QWidget#AddressBookPage QHeaderView::section { /* Min width for Windows fix */
    min-width:260px;
    }
    
    /**************************** MultiSig Dialog *******************************************/
    
    QDialog#MultisigDialog #addressBookButton {
        background: #2f2f2f;
        border: 4px solid #2f2f2f;
    }
    
    QDialog#MultisigDialog #addressPasteButton {
        background: #2f2f2f;
        border: 4px solid #2f2f2f;
    }
    
    QDialog#MultisigDialog #addressDeleteButton {
        background: #2f2f2f;
        border: 4px solid #2f2f2f;
    }
    
    QDialog#MultisigDialog #inputDeleteButton {
        background: #2f2f2f;
        border: 4px solid #2f2f2f;
    }
    
    QDialog#MultisigDialog #destinationDeleteButton {
        background: #2f2f2f;
        border: 4px solid #2f2f2f;
    }
    
    
    QDialog#MultisigDialog #keyDeleteButton {
        background: #2f2f2f;
        border: 4px solid #2f2f2f;
    }
    
    QDialog#MultisigDialog QFrame#addressFrame {
        border: 1px solid #2f2f2f;
        background: #1f1f1f;
    }
    QDialog#MultisigDialog #message {
        border: #2f2f2f solid 1px
    }
    
    /**************************** Privacy Dialog ********************************************/
    
    
    QWidget#PrivacyDialog QFrame {
    background-color:transparent;
    border:0px solid #000;
    }
    
    QWidget#PrivacyDialog QFrame#labelMintStatus {
    background-color:#eee;
    border: 1px inset gray;
    }
    
    QWidget#PrivacyDialog QLabel {
    border:0px solid #0e0e0e;
    }
    
    QWidget#PrivacyDialog QLabel#zPIVLabel {
    font-size:14px;
    color:#0e0e0e;
    background-color:#ac5288;
    }
    
    QWidget#PrivacyDialog QLabel#oPIVLabel {
    font-size:14px;
    color:#0e0e0e;
    background-color:#ac5288;
    }
    
    QWidget#PrivacyDialog QPushButton {
    font-size:12px;
    font-weight:normal;
    padding-left:5px;
    padding-right:5px;
    padding-top:1px;
    padding-bottom:1px;
    height: 26px;
    margin: 2px;
    }
    
    QWidget#PrivacyDialog QProgressBar#obfuscationProgress { /* Obfuscation Completion */
    border: 1px solid #818181;
    border-radius: 1px;
    margin-right:43px;
    text-align: right;
    color:#818181;
    }
    
    QWidget#PrivacyDialog QProgressBar#obfuscationProgress::chunk {
    background-color: #0f584c;
    width:1px;
    }
    
    /**************************** SETTINGS MENU *********************************************/
    
    /* Encrypt Wallet and Change Passphrase Dialog */
    QDialog#AskPassphraseDialog QLabel#passLabel1, QDialog#AskPassphraseDialog QLabel#passLabel2, QDialog#AskPassphraseDialog QLabel#passLabel3 {
    qproperty-alignment: 'AlignVCenter | AlignRight';
    }
    
    /* Options Dialog */
    QDialog#OptionsDialog QValueComboBox, QDialog#OptionsDialog QSpinBox {
    margin-top:5px;
    margin-bottom:5px;
    }
    
    QDialog#OptionsDialog QValidatedLineEdit, QDialog#OptionsDialog QValidatedLineEdit:disabled, QDialog#OptionsDialog QLineEdit, QDialog#OptionsDialog QLineEdit:disabled {
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    min-height:20px;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:1px;
    padding-bottom:1px;
    }
    
    QDialog#OptionsDialog > QLabel {
    qproperty-alignment: 'AlignVCenter';
    min-height:20px;
    }
    
    QDialog#OptionsDialog QWidget#tabDisplay QValueComboBox {
    margin-top:0px;
    margin-bottom:0px;
    }
    
    QDialog#OptionsDialog QLabel#label_3 { /* Translations Missing? Label */
    qproperty-alignment: 'AlignVCenter | AlignCenter';
    color:#818181;
    padding-bottom:8px;
    }
    
    QDialog#OptionsDialog QCheckBox {
    min-height:20px;
    }
    
    QDialog#OptionsDialog QCheckBox#displayAddresses {
    min-height:33px;
    }
    
    QDialog#OptionsDialog QLabel#labelStakeSplitThresholdText {
    font-size:16px;
    }
    
    /**************************** TOOLS MENU ************************************************/
    
    QDialog#RPCConsole QWidget#tab_info QLabel#label_11, QDialog#RPCConsole QWidget#tab_info QLabel#label_10 { /* Margin between Network and Block Chain headers */
    qproperty-alignment: 'AlignBottom';
    min-height:25px;
    min-width:180px;
    }
    
    QDialog#RPCConsole QWidget#tab_peers QLabel#peerHeading { /* Peers Info Header */
    color:#ac5288;
    }
    
    QDialog#RPCConsole QTableView#peerWidget::item { /* Peers Table Items */
    color:#888;
    }
    
    QDialog#RPCConsole QTableView#peerWidget::item:selected { /* Table Item Selected */
    background-color: #515151;
    color:#fff;
    }
    
    QDialog#RPCConsole QPushButton#openDebugLogfileButton {
    max-width:60px;
    }
    
    QDialog#RPCConsole QTextEdit#messagesWidget { /* Console Messages Window */
    border:0;
    background-color:#2f2f2f;
    color:#fff;
    }
    
    QDialog#RPCConsole QLineEdit#lineEdit { /* Console Input */
    margin-right:5px;
    }
    
    QDialog#RPCConsole QPushButton#clearButton { /* Console Clear Button */
    background: #2f2f2f;
    border: 4px solid #2f2f2f;
    }
    
    QDialog#RPCConsole .QGroupBox #line { /* Network In Line */
    background-color:#ac5288;
    }
    
    QDialog#RPCConsole .QGroupBox #line_2 { /* Network Out Line */
    background:#ac5288;
    }
    
    /**************************** HELP MENU *************************************************/
    
    /* Command Line Options Dialog */
    QDialog#HelpMessageDialog QScrollArea * {
    background-color:#1f1f1f;
    }
    
    QDialog#HelpMessageDialog QScrollBar:vertical, QDialog#HelpMessageDialog QScrollBar:horizontal {
    border:0;
    }
    
    /* About Pivx Dialog */
    QDialog#AboutDialog QLabel#label, QDialog#AboutDialog QLabel#copyrightLabel, QDialog#AboutDialog QLabel#label_2 { /* About Pivx Contents */
    margin-left:10px;
    }
    
    QDialog#AboutDialog QLabel#label_2 { /* Margin for About Pivx text */
    margin-right:10px;
    }
    
    /* Edit Address Dialog */
    QDialog#EditAddressDialog QLabel {
    qproperty-alignment: 'AlignVCenter | AlignRight';
    min-height:27px;
    font-weight:normal;
    padding-right:5px;
    }
    
    /* Header design for ALL tabs/pages *****************************************************/
    /* Horizontal lines */
    QFrame[frameShape="4"] { /* QFrame::HLine == 0x0004 */
    border:1px dotted #0f584c;
    }
    
    /* Headers */
    QLabel#labelOverviewHeaderLeft {
    qproperty-alignment: 'AlignVCenter | Aligncenter';
    font-weight:bold;
    font-size:18px;
    color: #fff;
    text-align: center;
    /* background-color:#0e0e0e; */
    width: 100%;
    padding-left: 15px;
    }
    
    QLabel#labelOverviewHeaderRight {
    qproperty-alignment: 'AlignVCenter | AlignRight';
    background-image: url(':/images/blocknode_logo_horizontal');
    background-repeat: no-repeat;
    /* background-color:#0e0e0e; */
    background-position: right center;
    width: 100%;
    
    }
    
    QWidget .QFrame#frame_Header { /* Header with Page-Title and Blocknode-image */
    width:400px;
    background-color:transparent;
    }
    
    QWidget .QFrame#frame_BG { /* Background */
    min-width:400px;
    background-color:rgba(14,14,14,.5);
    }
    
    /**************************** OVERVIEW SCREEN *******************************************/
    
    QWidget .QFrame#frame_Space { /* Space between Header and Content */
    min-width:400px;
    }
    
    QWidget .QFrame#frame_Content { /* Actual Content */
    min-width:400px;
    }
    
    QWidget .QFrame#frame_Balances { /* Upper left side */
    min-width:400px;
    }
    
    QWidget .QFrame#frame_ZerocoinBalances { /* Lower left side */
    min-width:400px;
    }
    
    QWidget .QFrame#frame_CombinedBalances { /* Lower left side */
    min-width:400px;
    }
    
    QWidget .QFrame#frame_RecentTransactions { /* Right side */
    min-width:400px;
    }
    
    QWidget .QFrame#frame_Balances > .QLabel {
    min-width:190px;
    font-weight:normal;
    color: #fff;
    font-size: 18px;
    }
    
    QWidget .QFrame#frame_Balances .QLabel#label_5 { /* PIV Balances Label */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    min-width:160px;
    background-color:transparent;
    color:#ac5288;
    font-weight:bold;
    margin-right:5px;
    padding-right:5px;
    font-size: 14px;
    }
    
    QWidget .QFrame#frame_Balances .QLabel#labelWalletStatus { /* Wallet Sync Status */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    margin-left:3px;
    color: #ac5288
    }
    
    QWidget .QFrame#frame_Balances .QLabel#labelSpendable { /* Spendable Header */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    margin-left:18px;
    }
    
    QWidget .QFrame#frame_Balances .QLabel#labelWatchonly { /* Watch-only Header */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    margin-left:16px;
    }
    
    QWidget .QFrame#frame_Balances .QLabel#labelBalanceText { /* Available Balance Label */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    min-width:160px;
    color:#fff;
    margin-right:5px;
    padding-right:5px;
    font-weight:bold;
    }
    
    QWidget .QFrame#frame_Balances .QLabel#labelBalance { /* Available Balance */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    font-weight:bold;
    color:#FFF;
    margin-left:0px;
    }
    
    QWidget .QFrame#frame_Balances .QLabel#labelWatchAvailable { /* Watch-only Balance */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    margin-left:16px;
    }
    
    QWidget .QFrame#frame_Balances .QLabel#labelPendingText { /* Pending Balance Label */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    min-width:160px;
    color:#fff;
    margin-right:5px;
    padding-right:5px;
    font-weight:bold;
    }
    
    QWidget .QFrame#frame_Balances .QLabel#labelUnconfirmed { /* Pending Balance */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    font-weight:bold;
    color:#fff;
    margin-left:0px;
    }
    
    QWidget .QFrame#frame_Balances .QLabel#labelWatchPending { /* Watch-only Pending Balance */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    margin-left:16px;
    }
    
    QWidget .QFrame#frame_Balances .QLabel#labelImmatureText { /* Immature Balance Label */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    min-width:160px;
    color:#fff;
    margin-right:5px;
    padding-right:5px;
    font-weight:bold;
    }
    
    QWidget .QFrame#frame_Balances .QLabel#labelImmature { /* Immature Balance */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    font-weight:bold;
    color:#fff;
    margin-left:0px;
    }
    
    QWidget .QFrame#frame_Balances .QLabel#labelWatchImmature { /* Watch-only Immature Balance */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    margin-left:16px;
    }
    
    QWidget .QFrame#frame_Balances .QLabel#labelTotalText { /* Total Balance Label */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    min-width:160px;
    color:#ac5288;
    margin-right:5px;
    padding-right:5px;
    font-weight:bold;
    }
    
    QWidget .QFrame#frame_Balances .QLabel#labelTotal { /* Total Balance */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    font-weight:bold;
    color:#ac5288;
    margin-left:0px;
    }
    
    QWidget .QFrame#frame_Balances .QLabel#labelWatchTotal { /* Watch-only Total Balance */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    margin-left:16px;
    }
    
    QWidget .QFrame#frame_Balances .QLabel#labelLockedBalanceText { /* Available zPIV Label */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    min-width:160px;
    color:#ac5288;
    margin-right:5px;
    padding-right:5px;
    font-weight:bold;
    }
    
    QWidget .QFrame#frame_Balances .QLabel#labelLockedBalance { /* Available zPIV Balance */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    font-weight:bold;
    color:#ac5288;
    margin-left:0px;
    }
    
    QWidget .QFrame#frame_Balances .QLabel#labelWatchLocked { /* Available zPIV Balance */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    margin-left:16px;
    }
    
    /* Zerocoin additions start here ***********************************************/
    
    QWidget .QFrame#frame_ZerocoinBalances .QLabel#label_5z_3 { /* Zerocoin Balance Label */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    min-width:160px;
    background-color:transparent;
    color:#ac5288;
    font-weight:bold;
    font-size:14px;
    margin-right:5px;
    padding-right:5px;
    }
    
    QWidget .QFrame#frame_ZerocoinBalances .QLabel#labelzBalanceText { /* Available zPIV Label */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    min-width:160px;
    color:#ffffff;
    margin-right:5px;
    padding-right:5px;
    font-weight:bold;
    font-size:12px;
    }
    
    QWidget .QFrame#frame_ZerocoinBalances .QLabel#labelzBalance { /* Available zPIV Balance */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    font-size:12px;
    font-weight:bold;
    color:#fff;
    margin-left:0px;
    }
    
    QWidget .QFrame#frame_ZerocoinBalances .QLabel#labelzBalanceUnconfirmedText { /* Unconfirmed zPIV Label */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    min-width:160px;
    color:#fff;
    margin-right:5px;
    padding-right:5px;
    font-weight:bold;
    font-size:12px;
    }
    
    QWidget .QFrame#frame_ZerocoinBalances .QLabel#labelzBalanceUnconfirmed { /* Unconfirmed zPIV Balance */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    font-size:12px;
    font-weight:bold;
    color:#fff;
    margin-left:0px;
    }
    
    QWidget .QFrame#frame_ZerocoinBalances .QLabel#labelzBalanceMatureText { /* Mature zPIV Label */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    min-width:160px;
    color:#fff;
    margin-right:5px;
    padding-right:5px;
    font-weight:bold;
    font-size:12px;
    }
    
    QWidget .QFrame#frame_ZerocoinBalances .QLabel#labelzBalanceMature { /* Mature zPIV Balance */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    font-size:12px;
    font-weight:bold;
    color:#fff;
    margin-left:0px;
    }
    
    QWidget .QFrame#frame_ZerocoinBalances .QLabel#labelzBalanceImmatureText { /* Immature zPIV Label */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    min-width:160px;
    color:#fff;
    margin-right:5px;
    padding-right:5px;
    font-weight:bold;
    font-size:12px;
    }
    
    QWidget .QFrame#frame_ZerocoinBalances .QLabel#labelzBalanceImmature { /* Immature zPIV Balance */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    font-size:12px;
    font-weight:bold;
    color:#fff;
    margin-left:0px;
    }
    
    QWidget .QFrame#frame_CombinedBalances .QLabel#label_5z { /* Combined Balance Label */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    min-width:160px;
    background-color:transparent;
    color: #ac5288;
    font-weight:bold;
    font-size:14px;
    margin-right:5px;
    padding-right:5px;
    }
    
    QWidget .QFrame#frame_CombinedBalances .QLabel#labelBalanceTextz { /* Available PIV Label */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    min-width:160px;
    color:#fff;
    margin-right:5px;
    padding-right:5px;
    font-weight:bold;
    font-size:12px;
    }
    
    QWidget .QFrame#frame_CombinedBalances .QLabel#labelBalancez { /* Available PIV Balance */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    font-size:26px;
    font-weight:normal;
    color: #FFF;
    }
    
    QWidget .QFrame#frame_CombinedBalances .QLabel#labelzBalanceTextz { /* Available zPIV Label */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    min-width:160px;
    color: #fff;
    margin-right:5px;
    padding-right:5px;
    font-weight:bold;
    font-size:12px;
    }
    
    QWidget .QFrame#frame_CombinedBalances .QLabel#labelzBalancez { /* Available zPIV Balance */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    font-size:12px;
    font-weight:bold;
    color:#ac5288;
    margin-left:0px;
    }
    
    QWidget .QFrame#frame_CombinedBalances .QLabel#labelTotalTextz { /* Available total Label */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    min-width:160px;
    color:#fff;
    margin-right:5px;
    padding-right:5px;
    font-weight:bold;
    font-size:12px;
    }
    
    QWidget .QFrame#frame_CombinedBalances .QLabel#labelTotalz { /* Available total Balance */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    font-size:26px;
    font-weight:normal;
    color:#fff;
    }
    
    /**************************** RECENT TRANSACTIONS ***************************************/
    
    QWidget .QFrame#frame_RecentTransactions { /* Transactions Widget */
    min-width:410px;
    min-height:100px;
    margin-left:0;
    margin-top:0;
    }
    
    QWidget .QFrame#frame_RecentTransactions .QLabel#label_4 { /* Recent Transactions Label */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    min-width:180px;
    background-color:transparent;
    color:#ac5288;
    font-weight:bold;
    font-size:14px;
    margin-right:5px;
    padding-right:5px;
    }
    
    QWidget .QFrame#frame_RecentTransactions .QLabel#labelTransactionsStatus { /* Recent Transactions Sync Status */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    margin-left:3px;
    color: #ac5288;
    }
    
    QWidget .QFrame#frame_RecentTransactions QListView { /* Transaction List */
    font-weight:normal;
    color: #fff;
    font-size:12px;
    margin-top:12px;
    margin-left:0px;
    }
    
    /**************************** SEND DIALOG ***********************************************/
    
    QDialog#SendCoinsDialog {
        background-color:transparent;
    }
    
    QDialog#SendCoinsDialog .QFrame#frameCoinControl { /* Coin Control Section */
        background-color:rgba(30,30,30,0.75);
    }
    
    QDialog#SendCoinsDialog .QFrame#frameFee { /* Coin Control Section */
        background-color:rgba(30,30,30,0.75);
        padding: 20px;
    }
    
    QDialog#SendCoinsDialog .QFrame#frame_Send { /* Coin Control Section */
    background-color:transparent;
    margin-bottom:6px;
    }
    
    QDialog#SendCoinsDialog .QFrame#frameCoinControl > .QLabel { /* Default Font Color and  Size */
    font-weight:normal;
    }
    
    QDialog#SendCoinsDialog .QFrame#frameCoinControl .QPushButton#pushButtonCoinControl { /* Coin Control Inputs Button */
    padding-left:10px;
    padding-right:10px;
    /* min-height:25px; */
    }
    
    QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlFeatures { /* Coin Control Header */
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    min-width:160px;
    background-color:transparent;
    color:#ac5288;
    font-weight:bold;
    font-size:14px;
    margin-right:5px;
    padding-right:5px;
    }
    
    QDialog#SendCoinsDialog .QFrame#frameCoinControl .QWidget#widgetCoinControl { /* Coin Control Inputs */
        background: #1f1f1f;
    }
    
    QDialog#SendCoinsDialog .QFrame#frameCoinControl .QWidget#widgetCoinControl > .QLabel { /* Coin Control Inputs Labels */
    padding:2px;
    }
    
    /* QDialog#SendCoinsDialog .QFrame#frameCoinControl .QCheckBox#checkBoxCoinControlChange { /* Custom Change Label */ 
    /* QDialog#SendCoinsDialog .QFrame#frameCoinControl .QValidatedLineEdit#lineEditCoinControlChange { /* Custom Change Address */
    /* QDialog#SendCoinsDialog .QFrame#frameCoinControl .QValidatedLineEdit#lineEditCoinControlChange:!focus { /* Custom Change Address */
    /* QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLineEdit#splitBlockLineEdit { */
    /* QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLineEdit#splitBlockLineEdit:!focus { /* TX Splitter */
    
    QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlChangeLabel { /* Custom Change Address Validation Label */
        font-weight:normal;
    }
    
    
    QDialog#SendCoinsDialog .QScrollArea#scrollArea .QWidget#scrollAreaWidgetContents { /* Send To Widget */
        background: transparent;
    }
    
    
    
    QDialog#SendCoinsDialog .QCheckBox#checkUseObfuscation { /* Obfuscation Checkbox */
    color:#ac5288;
    font-weight:bold;
    /*background: qradialgradient(cx:0.5, cy:0.5, radius: 0.5, fx:0.5, fy:0.5, stop:0 rgba(248, 246, 246, 128), stop: 1 rgba(0, 0, 0, 0));*/
    border-radius:5px;
    padding-top:20px;
    padding-bottom:18px;
    }
    
    QDialog#SendCoinsDialog .QCheckBox#checkSwiftTX { /* SwiftTX Checkbox */
    color:#fff;
    font-weight:bold;
    /*background: qradialgradient(cx:0.5, cy:0.5, radius: 0.5, fx:0.5, fy:0.5, stop:0 rgba(248, 246, 246, 128), stop: 1 rgba(0, 0, 0, 0));*/
    border-radius:5px;
    padding-top:20px;
    padding-bottom:18px;
    margin-left:10px;
    margin-right:20px;
    }
    
    /* This QLabel uses name = "label" which conflicts with Address Book -> New Address */
    /* To maximize backwards compatibility this formatting has been removed */
    
    QDialog#SendCoinsDialog QLabel#label {
        /* font-size: 16px; */
    }
    
    QDialog#SendCoinsDialog QLabel#labelBalance {
    color:#ac5288;
    /* font-size: 16px; */
    }
    
    /**************************** SEND COINS ENTRY ******************************************/
    QStackedWidget#SendCoinsEntry {
        border: 0px solid #0e0e0e;
        border-bottom: 1px dotted #0f584c;
        padding-right: 20px;
        margin: 0;
        background: rgba(128,128,128,0.1);
    }
    QStackedWidget#SendCoinsEntry .QFrame#SendCoins > .QLabel { /* Send Coin Entry Labels */
    min-width:10px;
    font-weight:bold;
    min-height:25px;
    margin-right:5px;
    padding-right:5px;
    }
    
    QStackedWidget#SendCoinsEntry .QToolButton#addressBookButton,
    QStackedWidget#SendCoinsEntry .QToolButton#pasteButton,
    QStackedWidget#SendCoinsEntry .QToolButton#deleteButton {
        background: #0e0e0e;
        border: 0px solid #ac5288;
    }
    
    /* QStackedWidget#SendCoinsEntry .QValidatedLineEdit#payTo { /* Pay To Input Field */
    /* QStackedWidget#SendCoinsEntry .QValidatedLineEdit#payTo:!focus { /* Pay To Input Field */
    /* QStackedWidget#SendCoinsEntry .QToolButton { /* Pay To Custom ToolButton */
    /* QStackedWidget#SendCoinsEntry .QToolButton:hover { /* Pay To Custom ToolButton */
    /* QStackedWidget#SendCoinsEntry .QToolButton:focus { /* Pay To Custom ToolButton */
    /* QStackedWidget#SendCoinsEntry .QToolButton:pressed { /* Pay To Custom ToolButton */
    /* QStackedWidget#SendCoinsEntry .QToolButton#addressBookButton { /* Address Book Button */
    /* QStackedWidget#SendCoinsEntry .QToolButton#pasteButton { */
    /* QStackedWidget#SendCoinsEntry .QToolButton#deleteButton { */
    /* QStackedWidget#SendCoinsEntry .QLineEdit#addAsLabel { /* Pay To Input Field */
    /* QStackedWidget#SendCoinsEntry .QLineEdit#addAsLabel:!focus { /* Pay To Input Field */
    
    /**************************** COIN CONTROL POPUP ****************************************/
    
    QDialog#CoinControlDialog .QLabel#labelCoinControlQuantityText { /* Coin Control Quantity Label */
    min-height:30px;
    padding-left:15px;
    }
    
    QDialog#CoinControlDialog .QLabel#labelCoinControlQuantity { /* Coin Control Quantity */
    min-height:30px;
    }
    
    QDialog#CoinControlDialog .QLabel#labelCoinControlBytesText { /* Coin Control Bytes Label */
    padding-left:15px;
    }
    
    QDialog#CoinControlDialog .QLabel#labelCoinControlBytes { /* Coin Control Bytes */
    }
    
    QDialog#CoinControlDialog .QLabel#labelCoinControlAmountText { /* Coin Control Amount Label */
    min-height:30px;
    padding-left:15px;
    }
    
    QDialog#CoinControlDialog .QLabel#labelCoinControlAmount { /* Coin Control Amount */
    min-height:30px;
    }
    
    QDialog#CoinControlDialog .QLabel#labelCoinControlPriorityText { /* Coin Control Priority Label */
    padding-left:15px;
    }
    
    QDialog#CoinControlDialog .QLabel#labelCoinControlPriority { /* Coin Control Priority */
    }
    
    QDialog#CoinControlDialog .QLabel#labelCoinControlFeeText { /* Coin Control Fee Label */
    min-height:30px;
    padding-left:15px;
    }
    
    QDialog#CoinControlDialog .QLabel#labelCoinControlFee { /* Coin Control Fee */
    min-height:30px;
    }
    
    QDialog#CoinControlDialog .QLabel#labelCoinControlLowOutputText { /* Coin Control Low Output Label */
    padding-left:15px;
    }
    
    QDialog#CoinControlDialog .QLabel#labelCoinControlLowOutput { /* Coin Control Low Output */
    }
    
    QDialog#CoinControlDialog .QLabel#labelCoinControlAfterFeeText { /* Coin Control After Fee Label */
    min-height:30px;
    padding-left:15px;
    }
    
    QDialog#CoinControlDialog .QLabel#labelCoinControlAfterFee { /* Coin Control After Fee */
    min-height:30px;
    }
    
    QDialog#CoinControlDialog .QLabel#labelCoinControlChangeText { /* Coin Control Change Label */
    padding-left:15px;
    }
    
    QDialog#CoinControlDialog .QLabel#labelCoinControlChange { /* Coin Control Change */
    
    }
    
    QDialog#CoinControlDialog .QFrame#frame .QPushButton#pushButtonSelectAll { /* (un)select all button */
    padding-left:10px;
    padding-right:10px;
    min-height:25px;
    }
    
    QDialog#CoinControlDialog .QFrame#frame .QPushButton#pushButtonToggleLock { /* Toggle lock state button */
    padding-left:10px;
    padding-right:10px;
    min-height:25px;
    }
    
    QDialog#CoinControlDialog .QDialogButtonBox#buttonBox QPushButton { /* Coin Control 'OK' button */
    }
    
    QDialog#CoinControlDialog .QFrame#frame .QRadioButton#radioTreeMode { /* Coin Control Tree Mode Selector */
    color:#818181;
    background-color:transparent;
    }
    
    QDialog#CoinControlDialog .QFrame#frame .QRadioButton#radioListMode { /* Coin Control List Mode Selector */
    color:#818181;
    background-color:transparent;
    }
    
    QDialog#CoinControlDialog QHeaderView::section:first { /* Bug Fix: the number "1" displays in this table for some reason... */
    color:transparent;
    }
    
    QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget { /* Coin Control Widget Container */
    outline:0;
    background-color:#0e0e0e;
    border:1px solid #333;
    }
    
    QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item {
    }
    
    QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:selected { /* Coin Control Item (selected) */
    background-color:#ac5288;
    color:#000;
    }
    
    QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:checked { /* Coin Control Item (checked) */
    background-color:#2f2f2f;
    color:#0e0e0e;
    }
    
    QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:selected { /* Coin Control Branch Icon */
    background-image: url(':/images/qtreeview_selected');
    background-repeat:no-repeat;
    background-position:center;
    background-color:#f7f7f7;
    color:#333;
    }
    
    QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:checked { /* Coin Control Branch Icon */
    background-image: url(':/images/qtreeview_selected');
    background-repeat:no-repeat;
    background-position:center;
    background-color:#f7f7f7;
    color:#333;
    }
    
    QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::seperator {
    
    }
    
    QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::indicator { /* Coin Control Widget Checkbox */
    
    }
    
    QDialog#ZPivControlDialog .QTreeWidget#treeWidget { /* zPIV Control Widget Container */
    outline:0;
    background-color:#1f1f1f;
    border:1px solid #333;
    }
    
    /**************************** RECEIVE COINS *********************************************/
    
    QWidget#ReceiveCoinsDialog {
    background-color:transparent;
    }
    
    QWidget#ReceiveCoinsDialog .QFrame#frame {
    background-color:rgba(30,30,30,0.75);
    }
    
    QWidget#ReceiveCoinsDialog .QFrame#frame2 {
    background-color:rgba(30,30,30,0.75);
    }
    
    QWidget#ReceiveCoinsDialog .QFrame#frame2  > .QLabel { /* Receive Coin Labels */
    min-width:10px;
    font-weight:bold;
    min-height:25px;
    margin-right:5px;
    padding-right:5px;
    }
    
    /* QWidget#ReceiveCoinsDialog .QFrame#frame2  > .QLineEdit { /* Receive Coin LineEdits */
    /* QWidget#ReceiveCoinsDialog .QFrame#frame2  > .QLineEdit:!focus { /* Receive Coin LineEdits */
    
    QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton { /* Clear Button */
    padding-left:10px;
    padding-right:10px;
    }
    
    QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton:pressed {
    border:1px solid #2f2f2f;
    }
    
    QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton { /* Clear Button */
    padding-left:10px;
    padding-right:10px;
    }
    
    QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton:pressed {
    border:1px solid #2f2f2f;
    }
    
    QWidget#ReceiveCoinsDialog .QFrame#frame .QLabel#label_6 { /* Requested Payments History Label */
    color:#ac5288;
    font-weight:bold;
    font-size:14px;
    }
    
    /**************************** RECEIVE COINS DIALOG **************************************/
    
    QDialog#ReceiveRequestDialog QTextEdit { /* Contents of Receive Coin Dialog */
    border:1px solid #2f2f2f;
    }
    
    /**************************** TRANSACTIONS PAGE *****************************************/
    
    TransactionView QLineEdit { /* Address Filter */
    margin-bottom:2px;
    margin-right:1px;
    min-width:111px;
    text-align:center;
    }
    
    TransactionView QComboBox {
    margin-bottom:1px;
    margin-right:1px;
    }
    
    QLabel#transactionSumLabel { /* Example of setObjectName for widgets without name */
    color:#ac5288;
    font-weight:bold;
    }
     
    QLabel#transactionSum { /* Example of setObjectName for widgets without name */
    color:#ac5288;
    }
    
    /**************************** TRANSACTION DETAILS DIALOG ********************************/
    
    QDialog#TransactionDescDialog QTextEdit { /* Contents of Receive Coin Dialog */
    border:0px solid #2f2f2f;
    padding: 10px;
    background: #2f2f2f
    }
    
    /**************************** PRIVACY PAGE *****************************************/
    /* QDialog#PrivacyDialog */
    /* QWidget#PrivacyDialog */
    
    QWidget#PrivacyDialog .QFrame[frameShape="4"] { /* QFrame::HLine == 0x0004 */
    border:0px solid #0e0e0e;
    }
    
    QWidget#PrivacyDialog .QFrame#frame_Content {
    background-color:#0e0e0e;
    }
    
    QWidget#PrivacyDialog .QFrame#verticalFrameLeft {
    background-color:#0e0e0e;
    }
    
    QWidget#PrivacyDialog .QFrame#verticalFrameRight {
    background-color:#0e0e0e;
    }
    
    QWidget#PrivacyDialog .QToolButton {
    margin:2px;
    min-height: 24px;
    min-width: 24px;
    }
    
    /**************************** MASTERNODE LIST *******************************************/
    QWidget#MasternodeList {
        background-color:rgba(14,14,14,.75);
    }
    QWidget#MasternodeList .QFrame#frameList {
        background-color: none;
        padding-bottom: 10px
    }
    
    
    /********************************* CALENDAR WIDGET **************************************/
    
    QCalendarView {
    border:1px solid #1f1f1f;
    }
    
    QCalendarWidget QWidget#qt_calendar_navigationbar { /* Calendar widget navigation bar */
    background-color:#ac5288;
    font-weight:bold;
    }
    
    QCalendarWidget QAbstractItemView { /* Calendar widget days */
    alternate-background-color:#2f2f2f;
    background-color:#0e0e0e;
    }
    
    QCalendarWidget QAbstractItemView:enabled { /* Calendar widget weekdays in month */
    color:#fff;
    }
    
    QCalendarWidget QAbstractItemView:disabled { /* Calendar widget days not in month */
    color:#666;
    }
    
    /********************************* BIP38 DIALOGE **************************************/
    
    #Bip38ToolDialog #addressBookButton_ENC,
    #Bip38ToolDialog #pasteButton_ENC,
    #Bip38ToolDialog #copyKeyButton_ENC,
    #Bip38ToolDialog #pasteButton_DEC {
        background: #2f2f2f;
        border: 4px solid #2f2f2f;
    }
    
    
    #MultiSendDialog {
        padding: 30px;
    }
    #MultiSendDialog #message {
        border: 1px solid #2f2f2f;
        background: #1f1f1f;
    }
    #MultiSendDialog #addressBookButton,
    #MultiSendDialog #addressPasteButton,
    #MultiSendDialog #addressDeleteButton {
        background: #2f2f2f;
        border: 4px solid #2f2f2f;
    }
    
    #BlockExplorer {
        background: #0e0e0e
    }
    
    #addAddressScrollArea {
        border: 1px solid #2f2f2f
    }